@charset "UTF-8";

* {border: 1px solid rgba(0, 0, 0, .3); padding:0; box-sizing: border-box; margin:0}


.header {
    background: url("sprites/background.jpg");
    position: relative;
    height: 20vh;}
.header .logo {
    position: absolute;
    width: 20vh;
    height: 20vh;
    left: 45vw;
}

.tel1 {
    position: absolute;
    right: 1vw;
    top: 8vh;
    height: 6vh;}
.tel2 {
    position: absolute;
    right: 1vw;
    height: 6vh;
    top: 14vh;}
.tel1 img, .tel2 img {
    margin-top: 1vh;
    width: 4vh;
    height: 4vh;}
.tel1 pre, .tel2 pre {
    position: relative;
    display: inline;
    font-weight: 700;
    font-size: 3.5vh;
    margin-top: 0.8vh;
    float: right;}
#face {
    height: 5vh;
    position: absolute;
    top: 2vh;
    right: 1vw;}
#quem_somos {
    position: absolute;
    height: 15vh;
    left: 10vh;
}
#como_chegar {}



.menu {
    position: relative;
    height: 73vh;
    width: 15vw;
    float: left;
}


.itens {
    position: relative;
    margin-left: 15vw;
}


.footer {
    position: relative;
    height: 5vh;
    clear: both;
}