* {foutline: 1px solid rgba(0, 0, 0, .3)}

body {
    display: flex;
    flex-direction: column;

    margin: 20px;
    background: url("sprites/background.png") repeat-x;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
}
.logo {
    display: block;

    height: 14vh;
    min-width: 14vh;
    border-radius: 100%;
    border: 2px solid white;
}

.content {
    max-width: 70%;
    margin: 2vh 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.info > a {
    padding: 4px;
    margin: 0 2px;

    color: black;
    font-size: 2vh;
    font-weight: 700;
    text-align: center;
    text-decoration: none;

    border-radius: 10%;
    border: 2px solid #e8f5fd;
    background-color: #4ab3f4;
}
.info a:hover {
    color: white;
    background-color: #0084ff;
}

.telefones {
    font-size: 2vh;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.telefones h1 {
    color: white;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 1px 1px black;

    background-color: rgba(1, 1, 1, .5);
}
.telefones > img {
    width: 2.5vh;
    height: 2.5vh;

    margin: 0 3px;
    border-radius: 100%;
}
.telefones a {
    display: block;
}
.facebook {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
}
.telefones a:hover .facebook {
    border-radius: 0;
}
.header p {
    margin: 0;

    color: white;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 1px 1px black;

    background-color: rgba(1, 1, 1, .5);
}

.section {
    display: flex;
    align-items: flex-start;

    padding-bottom: 3vh;
    margin: 2vh 1vw 1vh 1vw;

    border-radius: 8px;
    background-color: #f5f6f7;
}

.menu {
    top:0;
    position: sticky;

    min-width: 20%;
    display: flex;
    flex-direction: column;
    padding: 3vh 0;

    border-radius: 10px;
    background-color: #b1d6ff;
}
.menu h3 {
    color: darkblue;
    text-align: center;

    margin-top: 0;
    padding-top: 0;
}
.menu a {
    display: block;
    font-weight: 500;
    text-align: center;

    color: black;
    text-decoration: none;

    padding: 3px 5px;
    border-radius: 10px;
    border-top: 2px solid white;
    border-right: 3px solid #b1d6ff;
}
.menu a:hover {
    border-right: 3px solid #0084ff;
    background-color: white;
}

#destaques {
    color: white;
    border-right: 3px solid #0084ff;
    background-color: #0084ff;
}
#soldadores {}
#fontes {}
#carregadores {}

.expo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.expo > h2 {
    margin: 10px 0;
    padding: 5px;

    color: darkblue;
    text-align: center;

    border-radius: 15%;
    border: 2px solid black;
    background-color: #f5f6f7;
}

.itens {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.seletor {
    width: 30%;
    padding: 10px 0;

    color: black;
    text-decoration: none;

    margin: 1vh 1%;
    border-radius: 15%;
    border: 1px solid #1da1f2;
    background-color: #e8f5fd;
}
.seletor:hover {
    background-color: lightblue;
}

.produto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.produto img {
    display: block;
    width: 80%;
    max-width: 90%;

    border-radius: 15%;

}
.produto h1, .produto h2 {
    text-align: center;

    padding: 4px;
    margin: 10px 0;
}
.produto h1 {
    color: red;
    font-size: 14px;

    border-radius: 20%;
    background-color: #f5f6f7;
    border: 1px solid darkblue;
}
.produto h2 {
    font-size: 14px;

    border-radius: 20%;
    background-color: #f5f6f7;
    border: 1px solid darkblue;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
    border: .05em dotted black;
    background-color: whitesmoke;
}
.footer a {
    text-decoration: none;
}
.footer p {
    font-size: 2vh;
    color: #0084ff;

    margin: 0 3px;
}

.designer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.designer img {
    height: 2vh;
    display: block;
}


@media only screen and (max-width: 420px){

.section {
    flex-direction: column;
}

.menu {
    position: static;
    width: 100%;
    max-width: none;
}

.seletor {
    width: 40%;
}

.designer {
    flex-direction: column;
}
.designer p {
    text-align: center;
}
.footer p {
    font-size: 10px;
}
}